{% extends "base.html" %}
{% load static %}
{% load autodiff_extras %}
{% block content %}
<h4 class="card-title" style="align:center">{{ which_app }} Diff between {{version_1}} and {{ version_2}}</h4>
<div></div>
<br/><br/>

{% for file in files %}
<div class="diff" style="width: 1514px;">
<pre class=".prettyprint">
{% for line in file %}{% if forloop.first %}<div class="collapsible">{{ line|replace:"/\w+\d?-\d?.\d?.\d/"}}</div>{% endif %}{% if line|first in '-'%}<div class="row diff_padding">{{" "}}<span class="diff_sub">{{ line }}</span></div>{% endif %}{% if line|first in '+'%}<div class="row diff_padding">{{" "}}<span class="diff_add">{{ line }}</span></div>{% endif %}{% endfor %}
</pre>
</div>
<br>
{% endfor %}
{% endblock content %}
